{% extends "base.html" %}
{% block content %}
    
<div class='content'>
  <div class="container-fuild">
        <div class='row'>
                  <div class='col-3'>
                  </div>
                  <div class='col-6'>
                          <div class='card card-primary card-outline'>
                                  <div class='card-header'>
                                          <h5>List of files </h5>
                                  </div>
                                <div class='body'>
                                        <div class="list-group" id="list-tab" role="tablist">
                                                <a class="list-group-item list-group-item-action active"  id="MB52" data-bs-toggle="list"  href="{% url 'details' 'MB52'  %}" role="tab">MB52</a>
                                                <a class="list-group-item list-group-item-action"  id="SE16N_CEPC" data-bs-toggle="list" href="{% url 'details'  %}">SE16N_CEPC</a>
                                                <a class="list-group-item list-group-item-action"  id="SE16N_T001L" data-bs-toggle="list"href="{% url 'details'  %}">SE16N_T001L</a>
                                                <a class="list-group-item list-group-item-action"  id="list-home-list" data-bs-toggle="list"href="{% url 'details'  %}">SE16N_T024</a>
                                                <a class="list-group-item list-group-item-action"  id="list-home-list" data-bs-toggle="list"href="{% url 'details'  %}">ZMM_CARNET_CDE_IS</a>
                                                <a class="list-group-item list-group-item-action"  id="list-home-list" data-bs-toggle="list"href="{% url 'details'  %}">ZRPFLG13</a>
                                        </div> 
                                        
                                         
                                </div>
                          </div>
                </div>
                <div class='col-3'>
                </div>
        </div>
        
  </div>
      
</div>


    {% endblock content %}